@model IEnumerable<DatabaseProj.PrehladTable>
@{
    ViewData["Title"] = "TableView";
}

<div class="text-center">
    <h1 class="display-4">Prehlad</h1>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <input type="text" id="filter" style="margin-bottom:20px" />
    <div>

        @for (int i = 0; i < Model.Count(); i += 2)
        {
            <div>
                @for (int k = 0; k < 2; k++)
                {
                    @if (Model.ElementAt(i + k) != null)
                    {
                        <div class=d-inline-block style="border-style:solid;background-color:#d3e4ff">
                            <div style="width:50%;float:left"> 
                                <h5 style="width:200px;margin-bottom:20px">
                                    <u>
                                        @Model.ElementAt(i + k).item_name
                                    </u>
                                </h5>
                                <p style="width:200px">
                                    @(String.Format("{0} {1}", "Velkost: ", Model.ElementAt(i + k).size))
                                </p>
                                <p style="width:200px">
                                    @(String.Format("{0} {1}", "Cena: ", Model.ElementAt(i + k).price))
                                </p>
                            </div>
                            <div style="width:50%;float:right">
                                <!-- (String.Format("{0}{1}", "resources/", Model.ElementAt(i +k).photo)) -->
                                <img src="~/resources/animal-wallpaper-03.jpg" style="max-height:200px;max-width:200px" />
                            </div>
                        </div>
                    }
                }
            </div>
        }
    </div>
</div>

