@model DatabaseProj.PrehladTable
@{
    ViewData["Title"] = "TableView";
}

<div class="text-center">
    <h1 class="display-4">Prehlad</h1>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    @using (Html.BeginForm("Search", "Table", FormMethod.Post))
    {
        @Html.TextBoxFor(model => Model.mSearchText, new { Style = "margin-bottom:20px;" })
        <input type="submit" class="btn-primary" value="Hladaj" id="searchBtn" />
    }

    <div>
        @for (int i = 0; i < Model.mPrehladTable.Count(); i += 3)
        {
            int count = Model.mPrehladTable.Count() - i;
            <div class="row">
                @for (int k = 0; k < 3; k++)
                {
                    <div class=col-4>
                    @if (Model.mPrehladTable.Count() > i + k)
                    {
                        <div class=card  style="margin-bottom:10px">
                            <div class="row">
                                <div class="col-6">
                                    <h5 class="card-title" style="margin-top:15px;margin-left:10px;border-bottom:1px solid black;">
                                        @Model.mPrehladTable.ElementAt(i + k).item_name
                                    </h5>
                                    <p class="card-text">
                                        @(String.Format("{0} {1}", "Velkost: ", Model.mPrehladTable.ElementAt(i + k).size))
                                    </p>
                                    <p class="card-text">
                                        @(String.Format("{0} {1}", "Cena: ", Model.mPrehladTable.ElementAt(i + k).price))
                                    </p>
                                </div>
                                <div class="col-6">
                                    <img src=@(String.Format("{0}{1}", "resources/", Model.mPrehladTable.ElementAt(i + k).photo)) class="img-fluid" />
                                </div>
                            </div>
                        </div>
                    }
                    </div>
                    }
            </div>
        }
    </div>
</div>

