body{ font: 14px sans-serif;
    background-image: url("other/boxps.jpg");
    background-position: center;
}
.btn-dark:hover {
    background-color : grey;
}

.btn-dark:active {
    box-shadow: 0 4px grey;
    transform: translateY(4px);
}

h2 {
    text-align: center;
}

#blocik {
    background-color: rgba(200, 200, 200, 0.8);
}

img {
    margin: auto;
    width: 200px;
    display:block;
}

.mycol {
    text-align: center;
}