body {
    padding-top: 90px;
    background-image: url("other/lightblue.jpg");
}
/*
.table-responsive {
    padding-top: 40px;
}*/

.btn {
    box-shadow: 0 4px black;
}

.btn-dark:hover {
    background-color: grey;
}

.button:active {
    box-shadow: 0 4px grey;
    transform: translateY(4px);
}

.container input {
    display: block;
    margin-bottom: 5px;
}

.container input[type=checkbox] {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
    transform: scale(1.5);
}

.container .block {
    display: block;
}

.container label {
    margin-bottom: 0;
}

.container .form-group {
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(222, 226, 230);
    padding-bottom: 19px;
}

.container input[type=button] {
    /*width: 25%;*/
    margin: 0 auto;
}

.container .modal-control-btn {
    margin-bottom: 15px;
}